doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/third_party/heatmap.js')
    script(src='/javascripts/third_party/jquery-2.0.3.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/app.js')
